/* general selectors */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
}

/* header */

header {
    min-height: 90px;
    max-height: 90px;
    background-color: #1F2937;
    display: flex;
    align-items: center;
    padding: 0 2em;
}

/* form shared selectors */
select,
.get-color-btn {
    border-radius: 0.375rem;
}

select,
.color-picker,
.get-color-btn {
    cursor: pointer;
}

form {
    height: 42px;
    border: 1px solid salmon;
    /* min-width: 600px;
    max-width: 1000px; */
    display: flex;
    gap: 1em;
}

select {
    color: #D5D4D8;
    background-color: #1F293A;
    border: 2px solid #D5D4D8;
    font-size: 1rem;
    padding: 0.7em;
}

.color-picker {
    height: 100%;
}


.get-color-btn {
    background-color: #3D4B60;
    color: white;
    border: none;
    padding: 1em 0.7em;
}